<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,23}</string>
                <key>spriteSourceSize</key>
                <string>{32,23}</string>
                <key>textureRect</key>
                <string>{{543,1814},{30,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>+2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,23}</string>
                <key>spriteSourceSize</key>
                <string>{32,23}</string>
                <key>textureRect</key>
                <string>{{509,1814},{32,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>+3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,23}</string>
                <key>spriteSourceSize</key>
                <string>{32,23}</string>
                <key>textureRect</key>
                <string>{{509,1839},{32,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1效果图.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,800}</string>
                <key>spriteSourceSize</key>
                <string>{480,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{480,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>omo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,81}</string>
                <key>spriteSourceSize</key>
                <string>{67,81}</string>
                <key>textureRect</key>
                <string>{{785,1779},{67,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>坏温度计.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,125}</string>
                <key>spriteSourceSize</key>
                <string>{60,125}</string>
                <key>textureRect</key>
                <string>{{491,1752},{60,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>塑料瓶.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{55,136}</string>
                <key>spriteSourceSize</key>
                <string>{55,140}</string>
                <key>textureRect</key>
                <string>{{491,1695},{55,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>废电池.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,118}</string>
                <key>spriteSourceSize</key>
                <string>{35,120}</string>
                <key>textureRect</key>
                <string>{{788,1665},{35,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>开始游戏按钮1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,88}</string>
                <key>spriteSourceSize</key>
                <string>{310,88}</string>
                <key>textureRect</key>
                <string>{{329,1605},{310,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>开始游戏按钮2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,110}</string>
                <key>spriteSourceSize</key>
                <string>{326,110}</string>
                <key>textureRect</key>
                <string>{{1,1722},{326,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>开始游戏按钮3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,115}</string>
                <key>spriteSourceSize</key>
                <string>{326,115}</string>
                <key>textureRect</key>
                <string>{{1,1605},{326,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>引导界面.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,800}</string>
                <key>spriteSourceSize</key>
                <string>{480,800}</string>
                <key>textureRect</key>
                <string>{{483,1},{480,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>收集量.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,28}</string>
                <key>spriteSourceSize</key>
                <string>{295,28}</string>
                <key>textureRect</key>
                <string>{{1,1834},{295,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>效果图.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,800}</string>
                <key>spriteSourceSize</key>
                <string>{480,800}</string>
                <key>textureRect</key>
                <string>{{1,803},{480,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>海洋生物1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,37}</string>
                <key>spriteSourceSize</key>
                <string>{38,37}</string>
                <key>textureRect</key>
                <string>{{868,1809},{38,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>海洋生物10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,118}</string>
                <key>spriteSourceSize</key>
                <string>{160,118}</string>
                <key>textureRect</key>
                <string>{{329,1695},{160,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>海洋生物2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,34}</string>
                <key>spriteSourceSize</key>
                <string>{41,34}</string>
                <key>textureRect</key>
                <string>{{922,1605},{41,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>海洋生物3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,35}</string>
                <key>spriteSourceSize</key>
                <string>{51,35}</string>
                <key>textureRect</key>
                <string>{{456,1827},{51,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>海洋生物4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{50,45}</string>
                <key>textureRect</key>
                <string>{{738,1687},{50,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>海洋生物5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,49}</string>
                <key>spriteSourceSize</key>
                <string>{50,49}</string>
                <key>textureRect</key>
                <string>{{908,1805},{50,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>海洋生物6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,63}</string>
                <key>spriteSourceSize</key>
                <string>{47,63}</string>
                <key>textureRect</key>
                <string>{{329,1815},{47,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>海洋生物7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{908,1752},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>海洋生物8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,72}</string>
                <key>textureRect</key>
                <string>{{715,1755},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>海洋生物9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,66}</string>
                <key>spriteSourceSize</key>
                <string>{95,66}</string>
                <key>textureRect</key>
                <string>{{641,1687},{95,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>海洋背景.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,800}</string>
                <key>spriteSourceSize</key>
                <string>{480,800}</string>
                <key>textureRect</key>
                <string>{{483,803},{480,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>烂苹果.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,87}</string>
                <key>spriteSourceSize</key>
                <string>{75,87}</string>
                <key>textureRect</key>
                <string>{{785,1702},{75,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>玻璃瓶.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,132}</string>
                <key>spriteSourceSize</key>
                <string>{60,132}</string>
                <key>textureRect</key>
                <string>{{788,1605},{58,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>红宝石.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{874,1761},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>飞船等级1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,55}</string>
                <key>spriteSourceSize</key>
                <string>{85,55}</string>
                <key>textureRect</key>
                <string>{{908,1665},{85,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>飞船等级2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,66}</string>
                <key>spriteSourceSize</key>
                <string>{95,66}</string>
                <key>textureRect</key>
                <string>{{618,1755},{95,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>飞船等级3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,80}</string>
                <key>spriteSourceSize</key>
                <string>{145,80}</string>
                <key>textureRect</key>
                <string>{{641,1605},{145,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>鱼叉.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,60}</string>
                <key>spriteSourceSize</key>
                <string>{43,60}</string>
                <key>textureRect</key>
                <string>{{394,1815},{43,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>黄宝石.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,57}</string>
                <key>spriteSourceSize</key>
                <string>{32,57}</string>
                <key>textureRect</key>
                <string>{{874,1702},{32,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>捕鱼集.png</string>
            <key>size</key>
            <string>{964,1863}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6f649b25a5fa0bc06d553f98f4dd1c1:5126209bb53b9549987007ef73584273:edc0f5df7cf19799abead819c5c30759$</string>
            <key>textureFileName</key>
            <string>捕鱼集.png</string>
        </dict>
    </dict>
</plist>
