<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,23}</string>
                <key>spriteSourceSize</key>
                <string>{32,23}</string>
                <key>textureRect</key>
                <string>{{64,0},{32,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>+2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,23}</string>
                <key>spriteSourceSize</key>
                <string>{32,23}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>+3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,23}</string>
                <key>spriteSourceSize</key>
                <string>{32,23}</string>
                <key>textureRect</key>
                <string>{{32,0},{32,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1效果图.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,800}</string>
                <key>spriteSourceSize</key>
                <string>{480,800}</string>
                <key>textureRect</key>
                <string>{{480,1072},{480,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>omo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,81}</string>
                <key>spriteSourceSize</key>
                <string>{67,81}</string>
                <key>textureRect</key>
                <string>{{310,66},{67,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>开始游戏按钮1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,88}</string>
                <key>spriteSourceSize</key>
                <string>{310,88}</string>
                <key>textureRect</key>
                <string>{{377,66},{310,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>开始游戏按钮2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,110}</string>
                <key>spriteSourceSize</key>
                <string>{326,110}</string>
                <key>textureRect</key>
                <string>{{0,154},{326,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>开始游戏按钮3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,115}</string>
                <key>spriteSourceSize</key>
                <string>{326,115}</string>
                <key>textureRect</key>
                <string>{{326,154},{326,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>引导界面.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,800}</string>
                <key>spriteSourceSize</key>
                <string>{480,800}</string>
                <key>textureRect</key>
                <string>{{0,1072},{480,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>收集量.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,28}</string>
                <key>spriteSourceSize</key>
                <string>{295,28}</string>
                <key>textureRect</key>
                <string>{{96,0},{295,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>效果图.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,800}</string>
                <key>spriteSourceSize</key>
                <string>{480,800}</string>
                <key>textureRect</key>
                <string>{{480,272},{480,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>海洋生物1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,37}</string>
                <key>spriteSourceSize</key>
                <string>{38,37}</string>
                <key>textureRect</key>
                <string>{{483,0},{38,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>海洋生物10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,118}</string>
                <key>spriteSourceSize</key>
                <string>{160,118}</string>
                <key>textureRect</key>
                <string>{{652,154},{160,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>海洋生物2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,34}</string>
                <key>spriteSourceSize</key>
                <string>{41,34}</string>
                <key>textureRect</key>
                <string>{{391,0},{41,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>海洋生物3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,35}</string>
                <key>spriteSourceSize</key>
                <string>{51,35}</string>
                <key>textureRect</key>
                <string>{{432,0},{51,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>海洋生物4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{50,45}</string>
                <key>textureRect</key>
                <string>{{521,0},{50,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>海洋生物5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,49}</string>
                <key>spriteSourceSize</key>
                <string>{50,49}</string>
                <key>textureRect</key>
                <string>{{571,0},{50,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>海洋生物6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,63}</string>
                <key>spriteSourceSize</key>
                <string>{47,63}</string>
                <key>textureRect</key>
                <string>{{804,0},{47,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>海洋生物7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{621,0},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>海洋生物8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{70,72}</string>
                <key>textureRect</key>
                <string>{{95,66},{70,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>海洋生物9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,66}</string>
                <key>spriteSourceSize</key>
                <string>{95,66}</string>
                <key>textureRect</key>
                <string>{{851,0},{95,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>海洋背景.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,800}</string>
                <key>spriteSourceSize</key>
                <string>{480,800}</string>
                <key>textureRect</key>
                <string>{{0,272},{480,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>飞船等级1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,55}</string>
                <key>spriteSourceSize</key>
                <string>{85,55}</string>
                <key>textureRect</key>
                <string>{{676,0},{85,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>飞船等级2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,66}</string>
                <key>spriteSourceSize</key>
                <string>{95,66}</string>
                <key>textureRect</key>
                <string>{{0,66},{95,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>飞船等级3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,80}</string>
                <key>spriteSourceSize</key>
                <string>{145,80}</string>
                <key>textureRect</key>
                <string>{{165,66},{145,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>鱼叉.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,60}</string>
                <key>spriteSourceSize</key>
                <string>{43,60}</string>
                <key>textureRect</key>
                <string>{{761,0},{43,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprite.png</string>
            <key>size</key>
            <string>{960,1872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef274956438a9f146dd107dc4498fca1:9fe53e150682e4a50c5f00786b4f31c7:0cbcc0bef9ecb80372fd8169b79a4a7a$</string>
            <key>textureFileName</key>
            <string>sprite.png</string>
        </dict>
    </dict>
</plist>
